.btn-image {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  border-radius: 16px;

  &.new-game {
    background: url('../../../assets/img/dices.jpg') no-repeat center center / cover;
  }

  &.rules {
    background: url('../../../assets/img/rules.jpg') no-repeat center center / cover;
  }

  &.ranking {
    background: url('../../../assets/img/podium.png') no-repeat center center / cover;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 5;
    border-radius: 16px;
  }

  span {
    color: #fff;
    z-index: 10;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}