<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item
              [routerDirection]="p.url === '/home' ? 'root' : 'forward'"
              [routerLink]="[p.url]"
              gaEvent
              [gaAction]="p.gaAction"
              gaCategory="sidemenu_buttons"
            >
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="players">
            <ion-item
              [routerDirection]="'forward'"
              routerLink="/game"
              gaEvent
              gaAction="click_currentGame_button"
              gaCategory="sidemenu_buttons"
            >
              <fa-icon
                slot="start"
                [icon]="faDice"
                [ngStyle]="{ color: !isIOS ? '#616e7e' : '#73849a', 'font-size': !isIOS ? '20px' : '22px' }"
              ></fa-icon>
              <ion-label> Jogo em andamento </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item (click)="toggleTheme()" gaEvent gaAction="click_theme_button" gaCategory="sidemenu_buttons">
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label>Modo escuro</ion-label>
            <ion-toggle slot="end" [checked]="isDarkMode"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
