table {
  width: 100%;
  table-layout: fixed;

  th:first-child,
  td:first-child {
    width: 24px;
  }

  th, td {
    padding: 5px;
    border: solid 1px #dee2e6;
  }

  thead {
    tr {
      background-color: rgba(0, 0, 0, 0.05);

      th, td {
        border-bottom-width: 2px;
      }
    }
  }

  tfoot {
    tr {
      background-color: rgba(0, 0, 0, 0.05);

      td {
        border-top-width: 2px;
      }
    }
  }
}