<ion-header>
  <ion-toolbar>
    <ion-title>Como instalar</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p>Para instalar este app no seu iPhone/iPad:</p>
  <ol>
    <li>Toque no ícone <b>“...”</b> na barra inferior do Safari.</li>
    <li>Selecione <b>“Compartilhar”</b>.</li>
    <li>Toque no ícone <b>“...”</b> para exibir mais opções.</li>
    <li>Selecione <b>“Adicionar à Tela de Início”</b>.</li>
    <li>Confirme tocando em <b>“Adicionar”</b>.</li>
  </ol>
  <ion-img-viewer title="Guia visual" text="Exemplo" scheme="dark" src="assets/img/guide.png" alt="Guia visual">
  </ion-img-viewer>
</ion-content>
